#flexdemenu{
    display: flex;
    justify-content: end !important;
}

.orden{
        display: flex;
        justify-content: space-around
      
}



/*Clases de barra de navegacion*/
:root{
    --naranja: #AD4119;
}

.colorTitulo{
    color: #AD4119;
    font-size: 4rem !important;
}

.fondoCuadroMenu{
    /*background-color: rgb(128, 115, 0);*/
    background-color: var(--naranja);
    width: 50rem;
}

.fondoCuadroMenu a{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.fondoTransparente{
    background-color: transparent !important;
}

.nuestroCarrusel{
    padding: 0 !important;
    margin-left: 10% !important;
}

/*.imagenesCarrusel{
    height: 50em;
}*/

.alineacion{
    text-align: center;
}
.fondoBody{
    background-color: black;
}
.colorTexto{
    color: white;
}
.fondoPedido{
    background-color: brown;
}
.textoCards{
    color: white;
    font-size: 1.8rem !important;
}
.anchoCards{
    width: 18rem;
}

.pading{
    padding: 0 !important;
}


/* Media Query*/
@media screen and (min-width:400px) and (max-width:992px){
    div#navbarNavAltMarkup{
        justify-content: start !important;
    }
    .fondoCuadroMenu{
        background-color: rgba(0, 0, 255, 0);
    }
    .colortitulo{
        color: rgb(128, 115, 0);
    }
    .anchoCards{
        width: 7rem;
    }
    .textoCards{
        font-size: 0.9rem !important;
    }
}



