/** #flexdemenu{
    display: flex;
    justify-content: end !important;
}**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orden{
    display: flex;
    justify-content: space-around;
  
}
.orden2{
    display: flex;
    justify-content: center;
}
.orden3{
    display: flex;
    justify-content: space-between;
}
.ordenPropiedadesComida{
    display: flex;
    justify-content: center; 
}
.ordenNoticias{
    display: flex;
    justify-content: space-around;
  
}
.ordenMenuSeleccion{
    display: flex;
    justify-content: space-around;
}
.ordenFooter{
    display: flex;
    justify-content: space-around;
}

/*Clases de barra de navegacion*/
:root{
	--naranja: #AD4119;
	--blanco: white;
}

.flexdemenu{
display: flex;
justify-content: end !important;
}


.colorTitulo{
color: #AD4119 !important;
font-size:  4rem;
}

.fondoMenu{
/*background-color: rgb(128, 115, 0);*/
background-color: var(--naranja);
width: 32rem;

}

.fondoCuadroMenu a{
color: white !important;
font-weight: bold;
font-size: 1.5rem;

}

.fondoTransparente{
background-color: transparent !important;
}

.nuestroCarrusel{
padding: 0 !important;
margin-left: 10% !important;
}

.alineacion{
text-align: center;
}

.fondoBody{
    background-color: black;
}

.colorTexto{
color: white;
}
.colorForm{
color: white;
font-size:large;
font-weight: bolder;
background-color: orangered;
}
.fondoPedido{
background-color: brown;
}
.fondoNoticias{
background-color: orangered;
height: auto;
display: flex;
justify-content: center;
}

.fondoPedido{
    background-color: gray;
    height: auto;
}

.textoCards{
color: white;
font-size: 1.8rem !important;
}
.anchoCards{
width: 18rem;
}
.textoInfo{
color: white;
font-size: 2.5rem;
text-align: center;
}
.textoNoticias{
font-size: 2rem;
padding: .5rem;
}
.anchoTextoNoticias{
width: 42rem;
}
.anchoTextoUbicacion{
    width: 30rem;
}



.anchoForm{
    width: 50rem;
}




/*SECCION MENU SEMANAL*/
.textoMenu{
font-size: 1.3rem;
color: white;
}
.precio{
    background-color: var(--naranja);
    color: white;
    border-color: black;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.precio:hover{
    pointer-events: none;
    cursor:none;
}
/*----------------*/

/*SE USA EN DISTINTAS SECCIONES*/
.textoNegro{.orden2{
    display: flex;
    justify-content: center;
}

    background-color: var(--naranja);
    color: black;
    border-color: black;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
/*--------------------------------*/

/*SECCIÓN DE NUESTRAS PRIORIDADES*/
.imgTamanioIconos{
height: 14rem;
width: 14rem;
padding: 0.2rem;
}
/*-----------------------*/




/*SECCIÓN SOBRE NOSOTROS*/
.tituloNosotros{
color: yellow;
font-size: 5rem;
}
.textoNosotros{
font-size: 2.5rem;
color: var(--blanco);
}
.textoMap{
font-size: 5rem;
color: var(--blanco);
}
/*-------------------*/

/*SECCIÓN CUPON*/
.TextoCuponPrincipal{
    font-size: 50px;
}
.textoCupon{
    font-size: 10rem;
    color: black;
}

.textoCupon2{
    font-size: 3rem;
    color: black;
}
.textoCupon3{
    font-size: 2.7rem;
    color: white;
}
.margenCupon{
    margin-top: 200px;
}
.anchoTextoCupon{
    width: 30rem;
}
/*---------------------*/

/*SECCIÓN REDES SOCIALES*/
.margenRedes{
    margin-right: 60px !important;
}
.tamañoImgRedes{
    height: 500px;
    width: 500px;
}
/*-----------------*/


/*SECCIÓN HACE TU PEDIDO SELECCION DE PEDIDO*/
.margenAclaraciones{
    width: 50rem;
    height: 5rem;
}
.anchoTextoMenuPedir{
    width: 25rem;
}
/*---------------*/
   
/*FOOTER*/
.textoFooter2{
    color: black;
    margin-left:255px !important;
}
.altoImgFooter{
    height: 12rem;
}
.altoAnchoImgFooter{
    height: 6rem;
    width: 5rem;
}
.fondoFooter{
    background-color: orangered;
    height: 16rem;
}
/*---------*/

/*MEDIO DE PAGO*/
.redondo{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.margenBotonRedondo{
    margin: 30px !important;
}
/*------------*/

.imgNews{
width: 20rem;
left: 20rem;
}

.separarpalabras{
padding: 1.5rem;
width: 10rem;
}

/*PLATOS POPULARES*/
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	-ms-grid: grid;
	gap: 40px;
}
.titulos{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}
.descripcion{
    text-align: left;
}
/*------------------*/

/* Media Query*/
@media screen and (min-width:200px) and (max-width:990px){
    div#navbarNavAltMarkup{
        justify-content: start !important;
    }
    .fondoCuadroMenu{
        background-color: rgba(0, 0, 255, 0);
        width: 90rem;
    }
    .colortitulo{
        color: rgb(128, 115, 0);
        width: 20rem;
        left: 20rem;
    }

    .anchoCards{
        width: 7rem;
    }
    .textoCards{
        font-size: 0.9rem !important;
    }
    .textoInfo{
        font-size: 1rem !important;
    }

    .textoNegro{
        font-size: 1rem!important;
    }
    .fondoNoticias{
        display: flex;
        justify-content: center;
    }
    .fdoBtnMenu{
        background:#AD4119;
    }
    .imgTamanioIconos{
        height: auto;
        width: auto;
    }
    .imgSello{
        width: 15rem;
        left: 15rem;
    }
    .ordenNew{
        display:block
    }
    .fueraMulita{
        display: none;
    }
    .contenedor {
        width: 40%;
        max-width: 1000px;
        margin: 40px auto 100px auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-columns: repeat(2, 1fr);
        -ms-grid: grid;
        gap: 40px;
    }
    .tituloNosotros{
        color: yellow;
        font-size: 2.5rem;
    }
    .textoNosotros{
        font-size: 1rem;
        color: var(--blanco);
    }
    .textoMap{
        font-size: 2.5rem;
        color: var(--blanco);
    }
    .textoNoticias{
        font-size: 1rem;
        padding: .5rem;
    }
    .tamañoImgRedes{
        height: 200px;
        width: 200px;
    }
    .margenRedes{
        margin-right: 20px !important;
    }
    .TextoCuponPrincipal{
        font-size: 20px;
    }
    .textoCupon{
        font-size: 2rem;
        color: black;
    }
    
    .textoCupon2{
        font-size: 1.2rem;
        color: black;
    }
    .textoCupon3{
        font-size: 1.2rem;
        color: white;
    }
    .ordenMenuSeleccion{
        display: block;
    }
    .margenAclaraciones{
        width: 27rem;
        height: 5rem;
    }
    .altoImgFooter{
        height: 6rem;
    }
    .altoAnchoImgFooter{
        height: 3rem;
        width: 2rem;
    }
    .fondoFooter{
        height: 10rem;
    }
    .textoFooter2{
        color: black;
        margin-left:112px !important;
    }
}

/*PARA BORRAR NO SE USA*/
.tamañoChicoCards{
    height: 10rem;
    width: 10rem;
    }
    .tamañoChicoCards2{
        height: 12rem;
        width: 7rem;
    }
.pading{
        padding: 0 !important;
}
.anchoTextoMenuPedir2{
    width: auto;
}
/*---------------------*/