#flexdemenu{
    display: flex;
    justify-content: end !important;
}

.orden{
        display: flex;
        justify-content: space-around
      
}
.orden2{
    display: flex;
    justify-content: center;
}
.orden3{
    display: flex;
    justify-content: space-between;
}



/*Clases de barra de navegacion*/
:root{
    --naranja: #AD4119;
    --blanco: white;
}

.colorTitulo{
    color: #AD4119;
    font-size: 4rem !important;
}

.fondoCuadroMenu{
    /*background-color: rgb(128, 115, 0);*/
    background-color: var(--naranja);
    width: 50rem;
}

.fondoCuadroMenu a{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.fondoTransparente{
    background-color: transparent !important;
}

.nuestroCarrusel{
    padding: 0 !important;
    margin-left: 10% !important;
}

/*.imagenesCarrusel{
    height: 50em;
}*/

.alineacion{
    text-align: center;
}
.fondoBody{
    background-color: black;
}
.colorTexto{
    color: white;
}
.fondoPedido{
    background-color: brown;
}
.fondoNoticias{
    background-color: orangered;
    height: auto;
}
.fondoPedido{
    background-color: gray;
    height: auto;
}
.fondoFooter{
    background-color: orangered;
    height: 16rem;
}
.textoCards{
    color: white;
    font-size: 1.8rem !important;
}
.anchoCards{
    width: 18rem;
}
.textoInfo{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}
.textoNoticias{
    font-size: 2rem;
}
.anchoTextoNoticias{
    width: 42rem;
}
.anchoTextoFooter{
    width: 20rem;
}
.anchoTextoUbicacion{
    width: 30rem;
}
.anchoTextoCupon{
    width: 30rem;
}
.anchoTextoMenuPedir{
    width: 25rem;
}
.anchoTextoMenuPedir2{
    width: auto;
}
.pading{
    padding: 0 !important;
}
.precio{
    background-color: var(--naranja);
    color: white;
    border-color: black;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.precio:hover{
    pointer-events: none;
    cursor:none;
}
.textoMenu{
    font-size: 1.3rem;
    color: white;
}
.textoNegro{
    background-color: var(--naranja);
    color: black;
    border-color: black;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.tamañoChicoCards{
    height: 10rem;
    width: 10rem;
}
.tamañoChicoCards2{
    height: 12rem;
    width: 7rem;
}
.tituloNosotros{
    color: yellow;
    font-size: 5rem;
}
.textoNosotros{
    font-size: 2.5rem;
    color: var(--blanco);
}
.textoMap{
    font-size: 5rem;
    color: var(--blanco);
}
.textoCupon{
    font-size: 10rem;
    color: black;
}
.textoCupon2{
    font-size: 3rem;
    color: black;
}
.textoCupon3{
    font-size: 2.7rem;
    color: white;
}
.textoFooter{
    font-size: 5rem;
    color: black;
}
.textoFooter2{
    color: black;
    margin-left:255px !important;
}
.margenRedes{
    margin-right: 60px !important;
}
.margenCupon{
    margin-top: 200px;
}
.margenAclaraciones{
    width: 50rem;
    height: 5rem;
}
.altoImgFooter{
    height: 12rem;
}
.altoAnchoImgFooter{
    height: 7rem;
    width: 5rem;
}





.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	-ms-grid: grid;
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}
.titulos{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descripcion{
    text-align: left;
}
/* Media Query*/
@media screen and (min-width:400px) and (max-width:992px){
    div#navbarNavAltMarkup{
        justify-content: start !important;
    }
    .fondoCuadroMenu{
        background-color: rgba(0, 0, 255, 0);
    }
    .colortitulo{
        color: rgb(128, 115, 0);
    }
    .anchoCards{
        width: 7rem;
    }
    .textoCards{
        font-size: 0.9rem !important;
    }
    .textoInfo{
        font-size: 0.9rem !important;
    }
    .textoNegro{
        font-size: 1rem!important;
    }
}



